@charset "utf-8";
/* CSS Document */

/* CSS @font-face code from: http://nicewebtype.com/notes/2009/10/30/how-to-use-css-font-face/ */

@font-face {
    font-family: 'CooperStdBlack';
    src: url('type/cooperblackstd-webfont.eot');
    src: local('☺'), 
	url('type/cooperblackstd-webfont.woff') format('woff'), 
	url('type/cooperblackstd-webfont.ttf') format('truetype'), 
	url('type/cooperblackstd-webfont.svg#CooperStdBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	text-align: center;
	background: #e6f7b4 url(../img/bg.jpg) repeat-x;
}

div.container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	margin-top: 120px;
}

div.transbox {
	margin-left: auto;
	margin-right: auto;
	background-color:rgba(255,255,157,0.35);
	width: 500px;
	padding: 15px;
	border: 1px solid #79BD8F;
	/* Rounded Edges */
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		-khtml-border-radius: 15px;
		border-radius: 15px;
	/* end Rounded Edges */
}

h1 {
	font-family: 'CooperStdBlack', Arial, sans-serif;
	font-size: 36px;
	color: #FF6138;
}

h1::selection {
	background: #00A388;
}
		
h1::-moz-selection {
	background: #00A388;
}

h3 {
	margin-top: 6px;
	font-family: 'CooperStdBlack', Arial, sans-serif;
	font-size: 24px;
	color: #00A388;
}

h3::selection {
	background: #FF6138;
}
		
h3::-moz-selection {
	background: #FF6138;
}

#voterID {
	color: #79BD8F;
	text-align: center;
	height: 28px;
	width: 110px;
	font-size: 20px;
	background: none;
	border: none;
	text-decoration: underline;
}

#voterID:focus {
	color: #FF6138;
	text-decoration: none;
}

#submit {
	margin-top: 3px;
	width: 90px;
	height: 32px;
	font-size: 18px;
	background: url(../img/submit.png) no-repeat;
	border: none;
	color: #EBFAC1;
}

#submit:hover {
	color: #FF6138;
}

div.header {
	margin-top: 0px;
}

div.loginbox {
	width: 110px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}